<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="BDatos_API.Properties.Settings.bd_apiConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\bd_api.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_IBuques" />
        <binding name="WSDualHttpBinding_IClientes" />
        <binding name="WSDualHttpBinding_IProductos" />
        <binding name="WSDualHttpBinding_IContenedor" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8001/ServicioTablaBuques/get"
        binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IBuques"
        contract="servicioBuques.IBuques" name="WSDualHttpBinding_IBuques">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8001/ServicioTablaClientes/get"
        binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IClientes"
        contract="servicioClientes.IClientes" name="WSDualHttpBinding_IClientes">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8001/Servicioproductos/get"
        binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IProductos"
        contract="servicioProductos.IProductos" name="WSDualHttpBinding_IProductos">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8001/ServicioTablaContenedor/get"
        binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IContenedor"
        contract="servicioContenedores.IContenedor" name="WSDualHttpBinding_IContenedor">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>


  </system.serviceModel>
</configuration>