<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  
<system.web>
  <securityPolicy>
    <trustLevel name="Full" policyFile="internal"/>
  </securityPolicy>
</system.web>
  
  <connectionStrings>
    <add name="connectionString" connectionString="Data Source=DESKTOP-481IKC1;Initial Catalog=bd_api;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="connectionString2" connectionString="Data Source=DESKTOP-481IKC1;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <system.serviceModel>
    
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service name="ServicioBroker.Servicio.tabla_contenedor">
        <endpoint address="get" binding="wsDualHttpBinding" contract="ServicioBroker.Cambios.IContenedor">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8001/ServicioTablaContenedor/" />
          </baseAddresses>
        </host>
      </service>
      
      <service name="ServicioBroker.Servicio.buques">
        <endpoint address="get" binding="wsDualHttpBinding" contract="ServicioBroker.Cambios.IBuques">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8001/ServicioTablaBuques/" />
          </baseAddresses>
        </host>
      </service>
      <service name="ServicioBroker.Servicio.clientes">
        <endpoint address="get" binding="wsDualHttpBinding" contract="ServicioBroker.Cambios.IClientes">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8001/ServicioTablaClientes/" />
          </baseAddresses>
        </host>
      </service>
      <service name="ServicioBroker.Servicio.productos">
        <endpoint address="get" binding="wsDualHttpBinding" contract="ServicioBroker.Cambios.IProductos">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8001/Servicioproductos/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    
  </system.serviceModel>
</configuration>